*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
@font-face {
    font-family: 'Pinky Cupid';
    src: url(../assets/Pinky-Cupid.otf);
}
/* divs onde estao os cards  
na div top esta os cards 1 e 2 
na div fim esta os cards 3 e 4*/
.containers-top, .containers-fim {
    width: 100%;
    height: 100%;
    background-color: #FAF2F2;
    display: flex;
    justify-content: space-between;
}
/* 1,2,3,4 botao*/
.card1,.card2, .card4, .card3 {
    width: 220px;
    height: 200px;
    background-color: #F1D1D1;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin: 5px;
    border-radius: 15px;
    justify-content: space-around;
    flex-direction: column;
   
}
/* a div onde tem  a div do card do meio */
.containers-center {
    width: 100%;
    height: 100%;
    background-color: #FAF2F2;
    display: flex;
    justify-content: center;
}
/* aqui está o card do meio*/
.card5 {
    width: 954px;
    height: 544px;
    background-color: #F3E1E1;
    border-radius: 10px;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h1{
    font-size: 100px;
    font-family: 'Pinky Cupid';
   
}
p {
    font-size: xx-large;
    font-family: 'Pinky Cupid';
}
/* aqui está a div do numero*/

.number {
    margin: 5px;
    align-items: center;
    justify-content: right;
    margin-left: auto;
}
/* aqui está a div do titulo*/

.titulo {
    margin: 5px;
    align-items: center;
    justify-content: center;
    
}