body {
    margin: 0;
}

.header {
    background-color: #FAF2F2;
    height: 180px;
    display: grid;
    grid-template-columns: 250px 550px 520px 250px 200px;
    font-size: larger;
}

.header a {
    margin-left: 120px;
    margin-top: 70px;
}

.header img {
    height: 200px;
    width: 250px;
}

.carroussel {
    background-color: rgb(0, 0, 66);
    height: 450px;
}

.bolos {
    background-color: rgb(139, 0, 0);
    height: 330px;
    display: grid;
    grid-template-columns: 450px 450px 450px 450px;
    align-items: center;
}

.bolos div {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin-left: 90px;
}

.footer {
    background-color: rgb(97, 96, 96);
    height: 200px;
}