@font-face {
    font-family: 'Pinky Cupid';
    src: url(../assets/Pinky-Cupid.otf);
}

body {
    max-width: 100%;
    font-family: 'Pinky Cupid', regular;
    margin: 0 auto;
    background-color: #F1D1D1;
}

.checkin {
    display: flex;
    width: 100%;
    height: 121px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.checkout {    
    background-color: #F3E1E1;
    width: 850px;
    height: 120px;
    border-bottom: solid #7D5A5A;
    border-width: 5px;
    display: grid;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-right: 30px;
}

.letras li {
    display: flex;
    width: 40px;
    justify-content: center;
}

.bolinhas li {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    border: solid #7D5A5A;
}

#b1 {
    background-color: #7D5A5A;
}

#b2 {
    background-color: #FAF2F2;
}

#b3 {
    background-color: #FAF2F2;
}

#b4 {
    background-color: #FAF2F2;
}

.boli {
    display: flex;
    height: 561px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bolo {
    position: relative;
    display: flex;
    background-color: #F3E1E1;
    width: 850px;
    height: 560px;
    color: #7D5A5A;
}

.bolo button {
    display: flex;
    width: 120px;
    height: 50px;
    align-self: flex-end;
    margin-left: -180px;
    margin-right: -90px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: #7D5A5A;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #FAF2F2;
    font-family: 'Pinky Cupid', regular;
    font-size: 20px;
}

#h11 {
    margin-left: 20px;
    white-space: nowrap;
    height: 20px;
}

h1 {
    margin-left: 20px;
    height: 20px;
}

.pagimento {
    display: none;
    width: 100%;
    height: 585px;
    align-items: center;
    justify-content: center;
}

.pagamento {
    display: none;
    position: relative; 
    background-color: #F3E1E1;
    width: 850px;
    height: 580px;
    color: #7D5A5A;
    justify-content: space-between;

}

.pagamento h1 {
    white-space: nowrap;
}

.cartoes {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: -450px;
    margin-right: 60px;
    height: 400px;
    width: 300px;
    justify-content: space-around;
}

/*quando quebra
    bolo: 329px
    pagamento: 674px
    confirmacao: 354px
    final: 345px;
*/

.outro {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    height: 400px;
    width: 300px;
    justify-content: space-around;
}

#pag {
    background-color: #FAF2F2;
    height: 50px;
    width: 300px;
    text-align: center;
}

#pag2 {
    background-color: #FAF2F2;
    height: 50px;
    width: 300px;
    text-align: center;
}

.botis {
    display: flex;
    height: 70px;
    align-self: flex-end;
}

.botis button {
    display: flex;
    min-width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #7D5A5A;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #FAF2F2;
    font-family: 'Pinky Cupid', regular;
    font-size: 20px;
    
}

#vol {
    position: absolute;
    margin-bottom: 20px;
    left: 20px;
}



#cartao_d,  #cartao_c  {
    display: none;
    position: relative;
    width: 300px;
    height: 150px;
    color: #7D5A5A;
    overflow: auto;
    margin-top: 5px;
    border: none;
}

#cartao_d button, #cartao_c button {
    width: 100%;
    border-radius: 0;
    background-color: rgb(255, 255, 255, 0.5);
    color: #7D5A5A;
    margin-left: 0;
    border: none;
}

.mcredito {
    background-color: rgb(250, 242, 242, .6);
    display: none;
    position: absolute; 
    left: 30%;
    width: 45%;
    height: 580px;
    inset: 0px 0px 0px auto;
    top: 23.3%;
    right: 25%;
}

.content {
    flex-direction: column;
    box-shadow: rgb(125 90 90) -50px 0 50px -50px   ;
    height: 580px;
    width: 50%;
    display: flex;
    position: relative;
    background-color: #FAF2F2;
    margin-left: 50%;
    justify-content: space-around;
}

.content h3 {
    margin-left: 5%;
    margin-top: -10px;
    margin-bottom: 0;
}

.mcredito input{
    height: 30px;
    margin: 4%;
}

.mcredito text {
    margin-left: 5%;
}

#mes,  #ano{
    width: 50px;
}

#barra {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

#cv {
    width: 100%;
    margin-left: 30px;
    margin-right: -5px;
}

#cvv {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 12px;
}

#t {
    margin-right: -100px;
}

#data {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: none;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

#dat {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}

#d {
    flex-wrap: wrap;
    height: auto;
}

#data label{
    display: block;
    width: 100%;
    margin-bottom: -12px;
    margin-left: 5%;
}

.endereco {
    position: relative;
    margin-left: 5%;
    margin: 1;
    bottom: 35%;
}

.botoes {
    box-shadow: none;
    width: 100%;
}

.botoes button{
    background-color: #7D5A5A;
    border-radius: 40px;
    cursor: pointer;
    color: #FAF2F2;
    font-family: 'Pinky Cupid', regular;
    width: 150px;
    height: 50px;
    align-self: flex-end;
    font-size: 20px;
    border: none;
    top: -60%;
    margin-right: 7%;
    margin-left: 7%;
}

#salvo {
    background-image: linear-gradient(to right ,rgb(241, 209, 209),rgb(252, 173, 173));
    background-size: cover;
    height: 90px;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    display: flex;
}

#inf1 {
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 14px;
    height: 20px;
}

#inf2 {
    position: relative;
    right: 80px;
    top: 50px;
    font-size: 12px;
    height: 20px;
}

#logo {
    position: absolute;
    background-image: url("../assets/mcl.png");
    background-size: 60px  29.5px;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    right: 20px;
    border-radius: unset;
}

#block {
    background-color: rgb(241, 209, 209, .5);
    right: 120%;
    margin-top: -550px;
    width: 864px;
    height: 470px;
    z-index: 1;
}

.pro {
    margin-left: -220px;
    margin-bottom: 4%;
    padding: 0;
}

.botaozinho {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

#vol2 {
    margin-bottom: 10px;
    align-self: flex-end;
}

#prox {
    align-self: flex-end;
}

#cancel {
    display: flex;
    margin-left: -70%;
    margin-top: -17%;
}

.confirm {
    display: none;
    width: 100%;
    height: 561px;
    justify-content: center;
    align-items: center;
}

.confirmacao {
    display: none;
    position: relative;
    background-color: #F3E1E1;
    width: 850px;
    height: 560px;
    color: #7D5A5A;
}

.confirmacao button {
    display: flex;
    width: 130px;
    height: 50px;
    margin-left: -180px;
    margin-right: -90px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #7D5A5A;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #FAF2F2;
    font-family: 'Pinky Cupid', regular;
    font-size: 20px;
}

.confirmacao h1 {
    white-space: nowrap;
}

.fim {
    display: none;
    width: 100%;
    height: 561px;
    justify-content: center;
    align-items: center;
}

.final {
    display: none;
    position: relative;
    background-color: #F3E1E1;
    width: 850px;
    height: 560px;
    color: #7D5A5A;
}

.final form {
    display: flex;
    align-self: flex-end;
    margin-left: -180px;
    margin-right: -90px;
    margin-bottom: 20px;
}

.final button {
    background-color: #7D5A5A;
    font-family: 'Pinky Cupid', regular;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FAF2F2;
    
    font-size: 20px;
}

#toggleContainer label { 
    text-align: center;
    width: 70px;
}
  
#container {
    height: 60vh;
    width: 80%;
    box-sizing: border-box;
}
  
#toggleContainer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    position: absolute;
}
  
#tilesContainer {
    min-height: 90vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
}
  
.tileItem {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
  
.tileItem:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
  
#galleryContainer {
    margin-top: 12%;
    height: 400px;
    width: 800px;
    margin-left: -270px;
    background: transparent;
    display: flex;
    flex-direction: row;
}

#galleryContainer2 {
    margin-top: 9%;
    height: 400px;
    width: 800px;
    margin-left: -200px;
    background: transparent;
    display: flex;
    flex-direction: row;
}

#galleryContainer3 {
    margin-top: 14%;
    height: 400px;
    width: 800px;
    margin-left: -700px;
    background: transparent;
    display: flex;
    flex-direction: row;
}

#toggle {
    height: 10vh;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
}
  
#tilesView {
    min-height: 100vh;
    width: 100vw;
    background: rgb(246,210,106);
    background: linear-gradient(111deg, rgba(246,210,106,1) 0%, rgba(255,159,0,1) 52%, rgba(251,197,100,1) 100%);
    display: none;
    justify-content: center;
    align-items: center;
}
  
.info {
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
    border-radius: 20px;
}

#mainView, #mainView2, #mainView3{
    height: 200px;
    width: 330px;
    background-color: #F1D1D1;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
}
  
.info:hover {
    transform: scale(1.2);
    transition: all 1s;   
}
  
#texto {
    display: flex;
    padding: 40px;
    width: 250px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #7D5A5A;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
    color: #F1D1D1;
}

#texto2 {
    display: flex;
    padding: 40px;
    width: 250px;
    height: 160px;
    justify-content: center;
    align-items: center;
    background-color: #7D5A5A;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
    color: #F1D1D1;
}

#texto3 {
    display: flex;
    padding: 40px;
    width: 250px;
    height: 160px;
    justify-content: center;
    align-items: center;
    background-color: #7D5A5A;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
    color: #F1D1D1;
}
   
#leftView, #leftView2, #leftView3 {
    top: 80%;
    height: 200px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;  
}
  
#leftView:hover, #leftView2:hover, #leftView3:hover {
    opacity: 1;
    transition: all 1s;
}
  
#rightView, #rightView2, #rightView3{
    height: 200px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
  
#rightView:hover, #rightView2:hover, #rightView3:hover {
    opacity: 1;
    transition: all 1s;
}

#galleryContainer button {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: #7D5A5A;
    cursor: pointer;
    color: #FAF2F2;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    font-family: 'Pinky Cupid', regular;
    font-size: 20px;
}
  
#galleryContainer button:hover, #galleryContainer2 button:hover, #galleryContainer3 button:hover{
    opacity: 1;
    transition: all 1s;
    background-color: #f390d5;
}

#galleryContainer2 button {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: #7D5A5A;
    cursor: pointer;
    color: #FAF2F2;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 250px;
    font-family: 'Pinky Cupid', regular;
    font-size: 20px;
}

#galleryContainer3 button {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: #7D5A5A;
    cursor: pointer;
    color: #FAF2F2;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 220px;
    font-family: 'Pinky Cupid', regular;
    font-size: 20px;
}

#navLeft, #navLeft2, #navLeft3 {
    left: 50px; 
}
  
#navRight, #navRight2, #navRight3 {
    right: 50px;
} 

.extra {
    position: relative;
    background-color: #7D5A5A;
    width: 150px;
    height: 80px;
    color: #F1D1D1;
    align-self: flex-end;
    margin-left: -750px;
}

#baixar button{
    width: 130px;
    height: 60px;
    background-color: #ffc6c6;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 1;
}

@media(max-width: 674px) {

}