@font-face {
    font-family: cupid;
    src: url(/docs/Pinky\ Cupid.otf);
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

body{
    /* background: radial-gradient(#F3E1E1, #fff); */
    background-image: url("../assets/a_auto_x2.jpg");
}

.lista{
    display: flex;
    width: 100vw;
    height: 17vh;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    font-family: cupid;
    font-size: 4.5em;
    text-align: center;
    align-items: center;
    background-color: #F1D1D1;
    border: 1px solid #000;
}

.lista>ul>li {
    display: inline-block;
    margin-left: 100px;
}


.maain {
    width: 90vw;
    text-align: center;
    margin: 5vw auto;
    padding: 1vw;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.678);
    color: #F3E1E1;
}

.dados{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: top;
    align-items: top;
    text-align: center;
    
}
.dados>h1{
    padding: 1vw;
}

.dados>h3>a{
    text-decoration: none;
    color: #F3E1E1;
}

.dados>h3>a:hover{
    color: #f3e1e18a;
}

.pessoal, .endereco, .pagamentos::hover,
.pessoal, .endereco, .pagamentos::focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
}

.pessoal, .endereco, .pagamentos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 2.2rem;
}

.pessoal>input, .endereco>input, .pagamentos>input{
    width: 25vw;
    margin: 2px;
    display: grid;
    align-items: center;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 1.5rem;
}
.pessoal>input, .endereco>input, .pagamentos>input:focus,
.pessoal>input, .endereco>input, .pagamentos>input:hover{
    color: rgb(95, 95, 95);
    text-decoration: none;
    cursor: pointer;

}

#sign{
    display: block;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    text-align: center;
    width: 10vw;
    height: 2.5vw;
    margin-top: 100px;
    background-color: #000;
    color: #F3E1E1;
    font-size: 0.7em;
    border-radius: 30px;
    border: 1px solid #000;
    transition: 0.5s;
}

#sign:hover{
    background-color: #F1D1D1;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .row {
      background-image: linear-gradient(to top, #F1D1D1, #FAF2F2);
      border-bottom: solid #7D5A5A;
      border-width: 5px;
      height: 200px;
      
  }

  .row a {
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    height: 20px;
    text-decoration: none;
    color: #7D5A5A;
}

.row {
    display: none;
}

.col-12 {width: 100%;}